[submodule "themes/learn2"]
	path = themes/learn2
	url = git@github.com:dcrobertson01/picocms_learn2.git
	branch = main
[submodule "learn2"]
	path = learn2
	url = git@github.com:dcrobertson01/picocms_learn2.git
	branch = main
