<!DOCTYPE html>
<html lang="{{ config.theme_config.language }}">
<head>
    {% include 'partials/head.html.twig' %}
</head>
    <body data-url="{{ current_page.url }}" class="{{ meta.template }}">

    {% block nav %}
        {% include 'partials/nav.html.twig' %}

    {% endblock %}
       {% include 'partials/content.html.twig' %}
</body>
