
{% set template = meta.template %}
{% block topbar %}
    {% include "partials/topbar.html.twig" %}
{% endblock %}
<section id="body" class="{{meta.template}}">
    <div class="padding highlightable">
        {% block content %}
            {% if template == "index" %}
                {% include "partials/content.index.html.twig" %}
            {% elseif template == "blog-index" %}
                {% include "partials/content.blog-index.html.twig" %}
            {% elseif template == "blog-item" %}
                {% include "partials/content.blog-item.html.twig" %}
            {% elseif template == "doc-index" %}
                {% include "partials/content.doc-index.html.twig" %}
            {% elseif template == "doc-item" %}
                {% include "partials/content.doc-item.html.twig" %}
            {% elseif template == "search" %}
                {% include "partials/content.searchresults.html.twig" %}
            {% else %}
                {{ content }}
            {% endif %}
        {% endblock %}
    </div>
</body>
