    <div class="post">
        <h3>{{ meta.title }}</h3>
        <div class="metadata">
            <p class="author">{{ meta.author }}</p>
            <p class="date">{{ meta.date_formatted }} </p>
        </div>
        <p class="excerpt">{{ content }}</p>
    </div>