{% block topbar %}

    <div id="top-bar">
        <div id="top-github-link">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Edit on Nextcloud
        </div>
        <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" itemprop="url"><span itemprop="title">Basics</span></a>
            <i class="fa fa-angle-right"></i>
            <span itemprop="title">Requirements</span>
        </div>
    </div> 
{% endblock %}