{% block topbar %}
    <div id="top-bar">
        <div id="top-github-link">
            <a class="github-link" href="/admin/plugins/git-sync" title="Setup Git Sync">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Setup Git Sync</a>
        </div>
        <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" itemprop="url"><span itemprop="title">Basics</span></a>
            <i class="fa fa-angle-right"></i>
            <span itemprop="title">Requirements</span>
        </div>
    </div> 
{% endblock %}